@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.row {
    max-width: 1240px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(rgba(32, 31, 31, 0.322), rgba(0, 0, 0, 0.863)), url(./img/img_20310546.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
    height: 44rem;
    color: white;
    padding: 1px;
}

/*.......................................................navbar............................................................*/
.navbar {
    margin: 0px;
    padding: 1px;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: nowrap;
    border-bottom: 1px solid gray;
    position: fixed;
}


.navbar_menu {
    display: none;
}

.navbar_icons {
    list-style-type: none;
    padding: 1px;
    display: flex;
    margin-top: 25px;
    margin-right: 7%;
}

.navbar_icons a {
    padding: 12px 15px;
    margin: 0px;
    border-radius: 30px;
    color: white;
    font-size: 70%;
}


#twitter {
    background-color: #1DA1F2;
    transition: 0.3s;
}

#twitter:hover {
    background-color: #2576a8;
}

#facebook {
    background-color: #3b5998;
    transition: 0.3s;
}

#facebook:hover {
    background-color: #294583;
}

#youtube {
    background-color: #9d2622;
    transition: 0.3s;
}

#youtube:hover {
    background-color: #641c1a;
}

#search:hover {
    color: #079992;
    transition: 0.3s;
}

.navbar_link {
    list-style-type: none;
    padding: 1px;
    margin-top: 25px;
}

.navbar_link li {
    display: inline-block;
    margin: 0px 15px;
    font-size: 70%;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
}

.navbar_link li:hover {
    color: #079992;
}

.logo {
    filter: grayscale(0%) opacity(100%);
    transition: .2s;
    width: 180px;
    cursor: pointer;
    margin: 20px auto 20px 7%;
}

.logo:hover {
    filter: grayscale(100%) opacity(70%);
}

/*......................................................................center part of header.................................................................*/
.center_of_header {
    height: 39rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center_part h1 {
    font-size: 330%;
    text-align: center;
    letter-spacing: 8px;
}

.center_part h2 {
    line-height: 35px;
    margin-top: 20px;
    font-size: 95%;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
}

/*.......................................................................button in header......................................................................*/

.btn_first {
    display: flex;
    margin-top: 40px;
}

.btn_one {
    padding: 20px 52px;
    margin: 5px;
    border: none;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
}

.btn_one.right {
    background-color: #15b48a;
    color: #fff;
    transition: 0.2s;
}

.btn_one.right:hover {
    background-color: #149e79;
    transition: 0.2s;
}

.btn_one.left {
    color: rgb(46, 44, 44);
}

/*.....................................................................section one.........................................................................*/
.section_one {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1px;
}

/*..........................................title....................................................*/
.section_one_title {
    margin-top: 120px;
    flex: 100%;
}

.section_one_title h1 {
    font-size: 120%;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 2px;
    font-weight: 400;
}

.section_one_title h2 {
    line-height: 35px;
    margin-top: 50px;
    font-size: 80%;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
    color: rgb(139, 139, 139);
}

/*.............................................boxes........................................................*/

.section_one_boxes {
    flex: 100%;
    margin: 5% 0;
}

.boxes {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.box {
    background-color: #f1f2f6;
    text-align: center;
    width: 400px;
    margin: 10px;
    padding: 30px 20px;
}

.box p {
    color: rgb(139, 139, 139);
}

.box i {
    padding: 25px;
    margin: 10px;
    background-color: #fff;
    border-radius: 60px;
    font-size: 170%;
}

.box i:hover {
    color: #2bb490;
    transition: 0.5s;
}

.box h4 {
    margin: 20px;
}

/*......................................................................section two ..................................................................................*/
.section_two {
    width: 100%;
    display: flex;
    background-color: #fafafa;
}

.part {
    display: inherit;
}

.text_part {
    width: 50%;
    font-size: 80%;
    margin: 20px 0px;
    line-height: 30px;
}

.image_part {
    width: 50%;
}

.text {
    display: flex;
    margin: 10% 0px;
    padding: 10px 20px;
    word-spacing: 2px;
}

.text img {
    margin-right: 20px;
}

.text_container h4 {
    font-size: 110%;
    margin-bottom: 20px;
}

.text_container p {
    font-weight: 400;
    color: rgb(139, 139, 139);
}

.textt {
    padding: 10px;
    margin: 10px 10px 10% 10px;
    font-weight: 500;
    word-spacing: 2px;
    color: rgb(139, 139, 139);
}

.textt h3 {
    color: black;
    font-size: 170%;
    font-weight: 500;
    margin-bottom: 10%;
    word-spacing: 5px;
}

/*.....................................................................section three...........................................................................*/
.section_three {
    width: 100%;
    padding: 2px;
}

.section_three_text {
    text-align: center;
    padding: 2px;
    margin: 85px 0px;
}

.section_three_text h3 {
    margin-bottom: 50px;
    font-weight: 450;
    letter-spacing: 2px;
}

.section_three_text p {
    font-size: 85%;
    line-height: 30px;
    color: rgb(139, 139, 139);
}

.section_three_image {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.section_three_images {
    width: 25%;
    padding: 10px;

}

.section_three_images img {
    width: 100%;
}

.images_text {
    text-align: center;
}

.images_text h5 {
    margin-top: 30px;
    margin-bottom: 7px;
    font-size: 62%;
    letter-spacing: 1px;
}

.images_text h4 {
    font-size: 140%;
    font-weight: 400;
}

.images_text h5::after {
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    background-color: rgb(138, 137, 137);
    text-align: center;
    margin: 7px 40%;
}

.images_icons {
    list-style-type: none;
    padding: 15% 0px;
}

.images_icons li {
    display: inline-block;
    border: 1px solid rgb(189, 189, 189);
    padding: 13px;
    border-radius: 50%;
    transition: 0.3s;
}

.images_icons li:hover {
    background-color: #149e79;
}

.images_icons i {
    color: rgb(189, 189, 189);
}

/*...................................................................... section four ................................................................................*/
.section_four {
    background-image: linear-gradient(rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.521)), url(./img/img_54781236.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
    padding: 1px;
}

.section_four_text {
    text-align: center;
    color: #fff;
    padding: 2px;
    margin: 70px 0px;
}

.section_four_text h3 {
    margin-bottom: 50px;
    font-weight: 450;
    letter-spacing: 2px;
}

.section_four_text p {
    font-size: 85%;
    line-height: 30px;
}

.section_four_boxes_first {
    text-align: center;
    line-height: 30px;
    display: flex;
}

.section_four_boxes_second {
    text-align: center;
    line-height: 30px;
    display: flex;
}

.boxes_four {
    width: 50%;
    margin: 10px;
    padding: 30px;
    font-weight: 400;
    font-size: 85%;
    border-radius: 10px;
    background-color: #f1f2f6;
    color: rgb(139, 139, 139);
}

.section_four_boxes {
    margin-bottom: 10%;
}

/*.....................................................................section five ...................................................................................*/
.section_five {
    width: 100%;
    display: flex;
    background-color: #fafafa;
}

/*.....................................................................section six ................................................................................*/
.section_six {
    width: 100%;
    padding: 1px;
}

.section_six_text {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 2px;
    margin: 60px 0px;
}

.section_six_text h3 {
    margin-bottom: 40px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
}

.section_six_text p {
    font-size: 85%;
    line-height: 30px;
    color: rgb(139, 139, 139);
}

.section_six_boxes {
    display: flex;
    align-items: baseline;
    padding-bottom: 10%;
}

.section_six_boxes_content {
    border: 1px solid rgb(216, 215, 215);
    margin: 10px;
    width: 33%;
    height: 28rem;
  }

  .images {
    padding: 0.3px;
    height: 14rem;
    transition: 0.5;
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background 0.5s ease;
    transition: 0.5s;
  }

  .images:hover .overlay {
    background: rgba(0, 0, 0, .3);
  }

  .button {
    position: absolute;
    width: 500px;
    left:50%;
    top: 50%;
    transform: translate(-15%,-15%);
    opacity: 0;
    transition: opacity .35s ease;
    font-size: 70%;
    font-weight: 700;
  }

  .images:hover .button{
    opacity: 1;
  }

  .button a {
    width: 200px;
    padding: 7px 40px;
    text-decoration: none;
    color: white;
    border: solid 2px white;
    border-radius: 50px;
    z-index: 1;
    transition: 0.5s;
  }

  .button a:hover{
    background-color: white;
    color: black;
  }

.section_six_some_texes {
    padding-top: 20px;
    font-weight: 300;
    text-align: center;
    font-size: 90%;
    height: 11rem;
}

.section_six_some_texes a {
    color: black;
    font-size: 110%;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
}

.section_six_some_texes a:hover {
    color: #149e79;
}

.section_six_some_texes p {
    color: rgb(139, 139, 139);
    margin-top: 10px;
    font-size: 90%;
    line-height: 30px;
    font-weight: 500;
}

.comment_box {
    background-color: #f1f2f6;
    color: rgb(139, 139, 139);
    padding: 10px 20px;
    font-size: 80%;
    height: 3rem;

}

.comment_box .two {
    float: right;
}

.comment a {
    text-decoration: none;
    color: rgb(139, 139, 139);
    transition: 0.5s;
}

.comment a:hover {
    color: black;
}

/*.........................................................................footer part .................................................................................*/
footer {

    background-color: #2a2f36;
    width: 100%;
}

/*.............................................................................................*/
.first_part {
    display: flex;
}

.first_partt {
    display: flex;
    width: 33.33%;
    padding: 40px 50px;
    color: white;
}

.first_partt i {
    font-size: 400%;
    padding: 0px 10px;
}

.some_texes {
    font-size: 80%;
}

#one {
    background-color: #2bb490;
}

.some_texes>h5 {
    color: #27836a;
}

#one>i {
    color: #27836a;
}

#two {
    background-color: #27836a;
}

#h5 {
    color: #2bb490;
}

#two>i {
    color: #2bb490;
}

/*.............................................................................................*/

.second_part_center_images {
    padding: 2% 40%;
    text-align: center;
    color: #fff;
}

.second_part_center_images h2 {
    line-height: 70px;
    font-size: 170%;
}

.second_part_center_images img {
    width: 100%;
}

.links {
    list-style-type: none;
    text-align: center;
    padding: 1px;
    font-weight: 600;
    font-size: 80%;
    color: rgb(104, 104, 104);
}

.links li {
    display: inline-block;
}

.links a {
    color: rgb(104, 104, 104);
    text-decoration: none;
    transition: 0.5s;
}

.links a:hover {
    color: #2bb490;

}

.footer_icons {
    text-align: center;
    padding: 30px;
}

.footer_icons li {
    list-style: none;
    display: inline-block;
    padding: 13px;
    background-color: #212429;
    transition: 0.5s;
}

.footer_icons li:hover {
    background-color: #2bb490;

}

.footer_icons i {
    color: rgb(104, 104, 104);
}

.third_part {
    padding: 15px;
    background-color: #212429;
    font-size: 60%;
    text-align: center;
    font-weight: 600;
    color: rgb(104, 104, 104);
}

/*..................................................................pricing section ...............................................................................*/
.pricing_section {
    width: 100%;
    padding: 1px;
}

.pricing_section_text {
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 60px 0px;
}

.pricing_section_text h3 {
    margin-bottom: 40px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
}

.pricing_section_text p {
    font-size: 85%;
    line-height: 30px;
    color: rgb(139, 139, 139);
}

.pricing_section_boxes {
    display: flex;
    align-items: baseline;
    padding-bottom: 5%;
}

.pricing_section_box {
    width: 30%;
    height: 38rem;
    text-align: center;
    border: 1px solid rgb(216, 215, 215);
    margin: 10px;
}

.pricing_section_box h2 {
    padding: 23px;
    font-size: 120%;
    color: #444;
}

.header_of_pricing {
    color: rgb(139, 139, 139);
    font-weight: 500;
    padding: 30px;
    border-bottom: 0.5px solid rgb(216, 215, 215);
    border-top: 0.5px solid rgb(216, 215, 215);
    background-color: #fafafa;
}

.texes_of_pricing {
    background-color: #fff;
    padding: 40px;
    line-height: 40px;
    font-size: 80%;
    height: 20rem;
    color: rgb(139, 139, 139);
}

.button_of_pricing {
    width: 100%;
    background-color: #fff;
    height: 5rem;
    border-top: 0.5px solid rgb(216, 215, 215);
    border-bottom: 0.5px solid rgb(216, 215, 215);
}

.button_of_pricing>button {
    padding: 13px;
    border: none;
    background-color: #15b48a;
    transition: 0.5s;
    cursor: pointer;
    width: 150px;
    margin: 20px;
}

.button_of_pricing>button:hover {
    background-color: #149e79;
    transition: 0.5s;
}

.back_button {
    text-decoration: none;
    color: #fff;
}

/*...............................................................subscrib.....................................................................................*/
.section_subscribe {
    margin: 30px 0px;
    padding: 6% 1px;
    width: 100%;
    background-color: #fafafa;
}

.subscribe {
    display: flex;
    justify-content: flex-end;
}

form {
    display: flex;
    align-content: center;
}

.input_in_form {
    border: none;
    width: 100%;
    height: 40px;
}

form>button {
    border: none;
    padding: 5px 20px;
    border-radius: 3px;
    font-size: 15px;
    background-color: #149e79;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

form>button:hover{
    background-color: #148063;
}

.subscribe_text {
    font-size: 80%;
    line-height: 30px;
    letter-spacing: 1px;
    padding: 1px;
    margin-right: auto;
}

.subscribe_text p {
    color: rgb(104, 104, 104);
}

.subscribe_form {
    padding: 10px;
    width: 570px;
    background-color: #fff;
}

.subscribe_checkbox {
    padding: 1px;
    font-size: 80%;
    margin: 5px 15px;
}

.subscribe_checkbox>label {
    color: rgb(104, 104, 104);

}



/*..........................................................*/
[type="checkbox"] {
    opacity: 0;
}

[type="checkbox"]+label {
    position: relative;
    display: inline-block;

}

[type="checkbox"]+label::before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 2px;
    outline: 2px solid gray;
    position: absolute;
    left: -30px;
    top: 0px;
    margin-right: 5px;
    cursor: pointer;
    font-family: "FontAwesome";
}


[type="checkbox"]:checked+label::before {
    content: "";
    width: 18px;
    height: 18px;
    outline: 2px solid gray;
    position: absolute;
    left: -30px;
    top: 0px;
    cursor: pointer;
    content: "\f00c";
    color: #149e79;
    font-size: 20px;
}

/*.......................................................................fixed part...................................................................................*/
.fixed_left_part {
    background-color: #f1f2f6;
    font-size: 80%;
    line-height: 50px;
    width: 250px;
    height: 6.5rem;
    padding-left: 20px;
    border-radius: 5px;
    font-weight: 300;
    position: fixed;
    left: 0;
    bottom: 50;
    box-shadow: 2px 2px 10px #e5e7e51f,
        -2px -2px 10px #e5e7e51f;
}

.fixed_left_part>button {
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #45aaf2;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.fixed_left_part>button:hover {
 background-color: #3f92ce;
}

.fixed_left_part>h4 {
    color: rgb(104, 104, 104);
}

/*.................................................fixed button ................................................................*/

.button_back_to_top>button {
    font-size: 120%;
    border: none;
    background: none;
    padding: 10px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.back {
    transition: 0.5s;
}

.back:visited {
    color: gray;
}

.back:link {
    color: gray;
}

.back:hover {
    color: #149e79;
}

/*..................................................................media query ........................................................................................*/
