@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.parent {
    max-width: 1540px;
    width: 100%;
    height: 100%;
}

header {
    background-image: linear-gradient(rgba(32, 31, 31, 0.322), rgba(0, 0, 0, 0.863)), url(./img/img_20310546.jpg);
    background-size: cover;
    width: 100%;
    height: 98%;
    background-color: rgba(36, 34, 34, 0.24);
    color: white;
}

/*.......................................................navbar............................................................*/
.navbar {
    margin: 0px;
    width: 100%;
    height: 80px;
}

.navbar::after {
    content: "";
    display: block;
    background-color: rgba(212, 211, 211, 0.349);
    width: 100%;
    height: 0.3px;
}

.navbar_icons {
    float: right;
    list-style-type: none;
    margin-top: 30px;
    margin-right: 7%;
}

.navbar_icons li {
    display: inline-block;
}

.navbar_icons a {
    padding: 12px 15px;
    margin: 0px;
    border-radius: 30px;
    color: white;
    font-size: 70%;
}


#twitter {
    background-color: #1DA1F2;
    transition: 0.3s;
}

#twitter:hover {
    background-color: #2576a8;
}

#facebook {
    background-color: #3b5998;
    transition: 0.3s;
}

#facebook:hover {
    background-color: #294583;
}

#youtube {
    background-color: #9d2622;
    transition: 0.3s;
}

#youtube:hover {
    background-color: #641c1a;
}

#search:hover {
    color: #079992;
    transition: 0.3s;
}

.navbar_link {
    float: right;
    list-style-type: none;
    margin-top: 30px;
}

.navbar_link li {
    display: inline-block;
    margin: 0px 15px;
    font-size: 70%;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
}

.navbar_link li:hover {
    color: #079992;
}

.logo {
    filter: grayscale(0%) opacity(100%);
    transition: .2s;
    width: 180px;
    cursor: pointer;
    float: left;
    margin: 30px 7%;
}

.logo:hover {
    filter: grayscale(100%) opacity(70%);
    transition: .2s;
}

/*......................................................................center part of header.................................................................*/
.center_part {
    margin-top: 110px;
}

.center_part h1 {
    font-size: 330%;
    text-align: center;
    letter-spacing: 8px;
}

.center_part h2 {
    line-height: 35px;
    margin-top: 20px;
    font-size: 95%;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
}

/*.......................................................................button in header......................................................................*/
.btn_first {
    margin-top: 50px;
    text-align: center;
}

.btn_one {
    padding: 20px 52px;
    margin: 5px;
    border: none;
    font-weight: 530;
    letter-spacing: 2px;
    cursor: pointer;
}

.btn_one.right {
    background-color: #15b48a;
    color: #fff;
    transition: 0.2s;
}

.btn_one.right:hover {
    background-color: #149e79;
    transition: 0.2s;
}

.btn_one.left {
    color: rgb(12, 12, 12);
}

/*.....................................................................section one.........................................................................*/
.section_one {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}


.title_section_one {
    margin-top: 160px;
    flex: 100%;
}

.title_section_one h1 {
    font-size: 120%;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 2px;
    font-weight: 400;
}

.title_section_one h2 {
    line-height: 35px;
    margin-top: 50px;
    font-size: 80%;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
    color: rgb(139, 139, 139);
}

/*......................................................................................................................................*/
.section_one_boxes { 
    flex: 100%;    
}

 .boxes {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
} 

.box {
    background-color: #f1f2f6;    
    text-align: center;
    width: 400px;
    margin: 10px;
    padding: 30px 20px;
}

.box i {
    padding: 25px;
    margin: 10px;
    background-color:#fff;
    border-radius: 60px;
    font-size: 170%;
}

.box h4 {
    margin: 20px;
}
