@media only screen and (min-width:1024px)and (max-width:1440px) {
    body {
        overflow-x: hidden;
    }

    .navbar_icons a {
        padding: 8px 10px;
        margin: 0px;
        font-size: 60%;
    }

    .navbar_link li {
        margin: 0px 10px;
        font-size: 60%;
    }

    .logo {
        width: 160px;
        cursor: pointer;
        margin: 20px auto 20px 7%;
    }

    .center_part h1 {
        font-size: 150%;
    }

    .center_part h2 {
        font-size: 80%;
    }

    .btn_one {
        padding: 20px 40px;
        font-size: 60%;
    }

    .boxes_four {
        width: 50%;
        margin: 10px;
        padding: 30px;
        font-size: 70%;
    }

    .button_of_pricing>button {
        margin: 15px;
    }

    .subscribe_text {
        font-size: 70%;
        line-height: 30px;
        letter-spacing: 1px;
        padding: 10px;
        margin-right: auto;
    }

    .subscribe_form {
        padding: 10px;
        width: 530px;
        background-color: #fff;
    }

    .section_six_boxes_content {
        width: 100%;
    }

    .fixed_left_part {
        display: none;
    }
}

@media only screen and (min-width:985px)and (max-width:1024px) {
    body {
        overflow-x: hidden;
    }

    .navbar {
        width: 100%;
        height: 70px;
    }

    .navbar_link {
        display: none;
    }

    .navbar_icons {
        display: none;
    }

    .logo {
        width: 180px;
        height: 40px;
        cursor: pointer;
        margin: 13px auto 10px 7%;
    }


    .center_part h1 {
        font-size: 170%;
    }

    .center_part h2 {
        font-size: 80%;
    }

    .btn_one {
        padding: 20px 40px;
        font-size: 60%;
    }

    .navbar_menu {
        display: inline-block;
        margin-right: 60px;
        font-size: 80%;
        font-weight: 600;
        color: #fff;
        background: none;
        border: none;
        cursor: pointer;
    }

    .navbar_menu>i {
        margin-right: 10px;
    }

    .boxes_four {
        width: 50%;
        margin: 10px;
        padding: 30px;
        font-size: 110%;
    }

    .texes_of_pricing {
        padding: 20px;
        line-height: 40px;
        font-size: 90%;

    }

    .button_of_pricing>button {
        margin: 15px;
    }

    .subscribe_text {
        font-size: 90%;
        line-height: 30px;
        letter-spacing: 1px;
        padding: 20px;
        margin-right: auto;
        margin-left: 30px;
    }

    .subscribe_form {
        padding: 10px;
        width: 530px;
        background-color: #fff;
    }

    .section_six_boxes_content {
        width: 100%;
    }

    .subscribe_checkbox {
        font-size: 90%;
    }

    .fixed_left_part {
        display: none;
    }
}

@media only screen and (min-width:768px)and (max-width:985px) {
    body {
        overflow-x: hidden;
    }

    .navbar {
        width: 100%;
        height: 70px;
    }

    .navbar_link {
        display: none;
    }

    .navbar_icons {
        display: none;
    }

    .logo {
        width: 180px;
        height: 40px;
        cursor: pointer;
        margin: 13px auto 10px 7%;
    }


    .center_part h1 {
        font-size: 170%;
    }

    .center_part h2 {
        font-size: 80%;
    }

    .btn_one {
        padding: 20px 40px;
        font-size: 60%;
    }

    .navbar_menu {
        display: inline-block;
        margin-right: 60px;
        font-size: 80%;
        font-weight: 600;
        color: #fff;
        background: none;
        border: none;
        cursor: pointer;
    }

    .navbar_menu>i {
        margin-right: 10px;
    }

    .texes_of_pricing {
        padding: 30px;
        line-height: 35px;
        font-size: 67%;
    }

    .fixed_left_part {
        display: none;
    }

    .subscribe_text {
        font-size: 70%;
        line-height: 30px;
        letter-spacing: 1px;
        padding: 20px;
        margin-right: auto;
        margin-left: 30px;
    }

    .subscribe_form {
        padding: 10px;
        width: 490px;
        background-color: #fff;
    }

    .image_part {
        width: 48%;
    }

    .text_part {
        width: 47%;
    }

    .section_six_some_texes {
        padding-top: 20px;
        font-weight: 300;
        text-align: center;
        font-size: 78%;
        height: 11rem;
    }

    .first_partt i {
        font-size: 300%;
        padding: 0px 10px;
    }

    .some_texes {
        font-size: 70%;
    }
}

@media only screen and (min-width:425px)and (max-width:768px) {

    body {
        overflow-x: hidden;
    }

    .navbar {
        width: 100%;
        height: 70px;
    }

    .navbar_link {
        display: none;
    }

    .navbar_icons {
        display: none;
    }

    .logo {
        width: 180px;
        height: 40px;
        cursor: pointer;
        margin: 13px auto 10px 7%;
    }

    .navbar_menu {
        display: inline-block;
        margin-right: 60px;
        font-size: 80%;
        font-weight: 600;
        color: #fff;
        background: none;
        border: none;
        cursor: pointer;
    }

    .navbar_menu>i {
        margin-right: 10px;
    }

    .center_part h1 {
        font-size: 140%;
        letter-spacing: 4px;
    }

    .center_part h2 {
        font-size: 80%;
        font-weight: 400;
        letter-spacing: 0px;
    }

    .btn_first {
        flex-direction: column;
    }

    /*.......................................................section one ...........................................................................*/

    .boxes {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 93%;
    }

    .section_one_title {
        font-size: 90%;
        line-height: 40px;
    }

    .section_one_title h2 {
        line-height: 30px;
    }

    /*................................................................section two ..................................................................*/
    
    .image_part {
        display: none;
    }

    .text_part {
        width: 100%;
        font-size: 80%;
        margin: 20px 0px;
    }

    .text {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text img {
        width: 100px;
        margin: 20px;
    }

    .textt {
        padding: 10px;
        margin: 10px 10px 10% 10px;
        text-align: center;
    }

    .textt h3 {
        font-size: 130%;
        margin-bottom: 30px;
    }

    /*............................................................section three .........................................................................*/

    .section_three_image {
        flex-direction: column;
        align-items: center;
    }

    .section_three_images {
        width: 40%;
    }

    .section_three_text h3 {
        margin-bottom: 50px;
        font-weight: 450;
        letter-spacing: 2px;
    }

    .section_three_text p {
        font-size: 60%;
    }

    /*............................................................section four .........................................................................*/
    .section_four_text h3 {
        margin-bottom: 50px;
        font-weight: 450;
        letter-spacing: 2px;
        font-size: 80%;
    }

    .section_four_text p {
        font-size: 80%;
    }

    .section_four_boxes_first {
        flex-direction: column;
        align-items: center;
    }

    .section_four_boxes_second {
        flex-direction: column;
        align-items: center;
    }

    .boxes_four {
        width: 85%;
        font-size: 70%;
    }

    /*............................................................section pricing .........................................................................*/
    .pricing_section_boxes {
        flex-direction: column;
        align-items: center;
    }

    .pricing_section_box {
        width: 90%;
    }

    /*............................................................section subscribt .........................................................................*/
    .subscribe {
        flex-direction: column;
        align-items: center;
    }

    .subscribe_text {
        text-align: center;
        margin: 30px 0px;
    }

    /*............................................................ section six .........................................................................*/
    .section_six_boxes {
        flex-direction: column;
        align-items: center;
    }

    .section_six_boxes_content {
        width: 500px;
        height: 30rem;
    }

    .images {
        height: 16rem;
    }

    .section_six_text h3 {
        margin-bottom: 35px;
    }

    .section_six_text p {
        font-size: 75%;
    }

    /*............................................................footer part .........................................................................*/
    .first_part {
        flex-direction: column;
        align-items: center;
    }

    .first_partt {

        width: 100%;
        height: 17rem;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .second_part_center_images h2 {
        line-height: 70px;
        font-size: 130%;
    }

    .second_part_center_images img {
        width: 100%;
        height: 10rem;
    }

    /*...................................................................fixed part...............................................................*/
    .fixed_left_part {
        display: none;
    }
}